ul {
  list-style-type: none;
}

body {
  font-family: "Roboto", sans-serif;
  letter-spacing: 0.02em;
  color: #2e2f42;
  background-color: #ffffff;
}

.link {
  text-decoration: none;
}

.link {
  color: #2e2f42;
  line-height: 1.5;
  letter-spacing: 0.02em;
  font-weight: 500;
}

.bar .link:hover,
.bar .link:focus {
  color: #404bbf;
}

.mail {
  font-style: normal;
  text-decoration: none;
  color: #434455;
  line-height: 1.5;
}

.mail:hover,
.mail:focus {
  color: #404bbf;
}

.tel {
  font-style: normal;
  text-decoration: none;
  color: #434455;
  line-height: 1.5;
}

.tel:hover,
.tel:focus {
  color: #404bbf;
}
.topic {
  background-color: #2e2f42;
}
.title {
  font-size: 56px;
  letter-spacing: 0.02em;
  font-weight: 700;
  line-height: 1.07;
  color: #ffffff;
  text-align: center;
}

.sub-title {
  font-weight: 700;
  font-size: 36px;
  letter-spacing: 0.02em;
  line-height: 1.11;
}

.team .sub-title {
  text-align: center;
}

.products .sub-title {
  text-align: center;
}

.team {
  background-color: #f4f4fd;
}

.members li {
  background-color: #ffffff;
}

.sstitle {
  font-size: 20px;
  letter-spacing: 0.02em;
  font-weight: 500;
  line-height: 1.2;
}

.team .sstitle {
  text-align: center;
}
.sstitle-text {
  color: #434455;
  line-height: 1.5;
}

.team .sstitle-text {
  text-align: center;
}

.btn {
  font-size: 16px;
  letter-spacing: 0.04em;
  line-height: 1.5;
  font-weight: 500;
  color: #ffffff;
  background-color: #4d5ae5;
  cursor: pointer;
}

.btn:hover,
.btn:focus {
  background-color: #404bbf;
}

.logo-top .accent {
  color: #4d5ae5;
}

.logo-btm .accent {
  color: #4d5ae5;
}

.logo-top {
  font-family: "Raleway";
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;
  color: #2e2f42;
  line-height: 1.17;
  letter-spacing: 0.03em;
}

.btm {
  background-color: #2e2f42;
}

.footer-text {
  color: #f4f4fd;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.logo-btm {
  font-family: "Raleway";
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;
  color: #f4f4fd;
  line-height: 1.17;
  letter-spacing: 0.03em;
}
